<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>to do</title>
    <link rel="stylesheet" href="toDo.css">
    <script src="vue.js"></script>
</head>

<body>
    <h1>任务计划列表</h1>
    <div class="main">
        <h3 class="big-title">添加任务：</h3>
        <input placeholder="回车即可添加任务" class="task-input" type="text" @keyup.enter.stop="addTodo" v-model="newTitle" v-lzxfocus>
        <ul class="task-count">
            <li>{{doneNumber}}个任务未完成</li>
            <li class="action">
                <a :class='{active:(shownWay=="all")}' href="#all">所有任务</a>
                <a :class='{active:(shownWay=="unfinished")}' href="#unfinished">未完成的任务</a>
                <a :class='{active:(shownWay=="finished")}' href="#finished">完成的任务</a>
            </li>
        </ul>
        <h3 class="big-title">任务列表：</h3>
        <div class="tasks">
            <span class="no-task-tip">还没有添加任何任务</span>
            <ul class="todo-list" v-for="lzxItem in shownList">
                <li class="todo" :class="{completed:lzxItem.done,editing:lzxItem===currentEditing}">
                    <div class="view">
                        <input class="toggle" type="checkbox" v-model="lzxItem.done">
                        <label @dblclick="editTodo(lzxItem)">{{lzxItem.title}}</label>
                        <button class="destroy" @click="deleteTodo(lzxItem)"></button>
                    </div>
                    <input class="edit" type="text" v-model="lzxItem.title" @keyup.enter.stop="editted(lzxItem)" @blur.stop="editted(lzxItem)" @keyup.esc.stop="cancel(lzxItem)">
                </li>
            </ul>
        </div>
    </div>
    <script src="toDo.js"></script>
</body>

</html>
