<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>component-tree</title>
    <script src="vue.js"></script>
    <style>
    section {
        display: inline-block;
        background-color: lightblue;
        box-shadow: 0 0 5px #aaa;
    }
    
    li {
        list-style: none;
    }
    
    ul {
        padding-left: 20px;
        margin: 0;
    }
    </style>
</head>

<body>
    <div>
        <lzx-tree :tree-list="treeList"></lzx-tree2>
    </div>
    <script>
    Vue.component("lzx-tree", {
        template: `
            <section style="margin-left:-20px">
                <lzx-tree2 :tree-list="treeList"></lzx-tree2>
            </section>`,
        props: {
            treeList: Array
        }
    });
    Vue.component("lzx-tree2", {
        template: `
        <ul>
            <li v-for="item in treeList">
                <span>{{item.title}}  层级{{index}}</span>
                <lzx-tree2 v-if="item.children" :treeList=item.children :index="index_"></lzx-tree2>
            </li>
        </ul>`,

        props: {
            treeList: Array,
            index: {
                type: Number,
                default: 0
            }
        },
        computed: {
            index_() {
                return this.index + 1;
            }
        }
    });
    var vm = new Vue({
        el: "div",
        data: {
            treeList: [{
                title: "目录",
                children: [{
                    title: "视频"
                }, {
                    title: "音乐",
                    children: [{
                        title: "周杰伦",
                        children: [{
                            title: "发如雪"
                        }]
                    }, {
                        title: "王杰",
                        children: [{
                            title: "一场游戏一场梦"
                        }]
                    }]
                }, {
                    title: "照片"
                }]
            }]
        }
    })
    </script>
</body>

</html>
