/*移动端 css样式重置*/
html,
body {
    height: auto;
    overflow-x: hidden;
    position: relative;
    background: #efefef;
}
body {
    margin: 0;
    font-family: Helvetica;
}
body * {
    /*禁止文字自动调整大小(默认情况下旋转设备的时候文字大小会发生变化)*/
    -webkit-text-size-adjust: none;
}
a, input, button {
    /*去掉默认的灰色半透明覆盖层(iOS)或者虚框(Android)*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input, button {
    /*加上这个，设置的按钮样式在ios上才生效*/
    -webkit-appearance: none;
}
/*css样式重置*/
body, ul, li, p, input {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}
img {
    border: none;
}
a, span, i, label {
    display: inline-block;
}
input {
    outline: none;
}
input[type="button"] {
    cursor: pointer;
    outline: none;
}
input[disabled] {
    cursor: not-allowed !important;
}
/*公共底部*/
#public-foot {
    width: 100%;
    height: 1.5rem;
    position: fixed;
    bottom: 0;
    left: 0;
    background: white;
    border-top: 1px solid #d8d7d7;
    font-size: 0;
}
#public-foot>.foot-box {
    display: inline-block;
    width: 24.9%;
    height: 100%;
}
#public-foot>.foot-box>.foot-img {
    display: block;
    width: 0.7rem;
    height: 0.7rem;
    margin: 0.15rem auto;
    position: relative;
}
#public-foot>.foot-box>.foot-img>img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
#public-foot>.foot-box.active>.foot-img>img.notactive {
    display: none;
}
#public-foot>.foot-box.active>.foot-img>img.active {
    display: block;
}
#public-foot>.foot-box>.foot-img>img.notactive {
    display: block;
}
#public-foot>.foot-box>.foot-img>img.active {
    display: none;
}
#public-foot>.foot-box.active .foot-title {
    color: #be201f;
}
#public-foot>.foot-box .foot-title {
    font-size: 0.3rem;
    text-align: center;
}
/* 简单页面的公共头：< 标题 点点点 */
#simple-public-head {
    height: 1.2rem;
    line-height: 1.2rem;
    position: relative;
    background: white;
    margin-bottom: 0.2rem;
}
#simple-public-head #simplebackBtn {
    position: absolute;
    width: 0.8rem;
    left: 0.3rem;
    top: 0.2rem;
}
#simple-public-head .page-title {
    font-size: 0.46rem;
    text-align: center;
}
/*点点点*/
#dot-container{
    position: absolute;
    right: 0.35rem;
    top: 0.25rem;
}
#dot-img{
    display: block;
    height: 0.7rem;
    width: 0.7rem;
}
#dot-ul{
    position: fixed;
    z-index: 99999999;
    right: 0;
    top: 1.2rem;
    box-shadow: 0 0px 10px #c7c7c7;
    display: none;
}
#dot-ul>li{
    width: 2.5rem;
    font-size: 0.45rem;
    border-bottom: 1px solid #e5e5e6;
    background: #fff;
}
#dot-ul>li>a{
    text-align: center;
    display: block;
    color: #000;
    font-size: 0.36rem;
    background: #fff;
    height: 1.2rem;
    line-height: 1.2rem;
}
#dot-cover{
    position: fixed;
    z-index: 99999998;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
}

/* 简单页面的搜索框*/
#simple-public-search {
    margin-left: 0.3rem;
    width: 90%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 0.2rem;
}
#simple-public-search #search_input{
    font-size: 0.35rem;
    width: 100%;
    box-sizing: border-box;
    height: 1rem;
    border-radius: 0.4rem;
    border: none;
    background: white;
    padding: 0.1rem 0.3rem;
    display: block;
    box-sizing: border-box;
}
#simple-public-search>img{
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    width: 0.6rem;
    height: 0.6rem;
}